@import url("https://fonts.googleapis.com/css2?family=Jura&family=Rubik+Mono+One&display=swap");

.shop-name {
  font-family: "Rubik Mono One", sans-serif;
  text-align: center;
}

.shop-sneakers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-sneaker + .shop-sneaker {
  margin-top: 10px;
}
