@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.page-div {
  min-height: 100vh;
  background-color: #0f0e17;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 30px 0;
  max-width: 1000px;
  width: 100%;
  text-align: center;
}

.header {
  color: #fffffe;
  margin: 0px 0px 10px;
  font-size: 2rem;
}

.subheader {
  color: #fffffe;
  margin: 0;
  font-size: 1.6rem;
}

.subtext {
  color: #fffffe;
  font-size: 0.8rem;
  display: block;
}

.card {
  background-color: #fffffe;
  margin-top: 15px;
  border-radius: 3px;
  padding: 20px;
  width: 100%;
}

.card-header {
  color: #0f0e17;
  font-size: 1.6rem;
  margin: 0;
}

.card-paragraph {
  color: #2e2f3e;
  text-align: left;
}

.links {
  margin-top: 25px;
}

.link {
  background-color: #ff8906;
  color: #fffffe;
  padding: 5px 10px;
  border-radius: 3px;
}

.link + .link {
  margin-left: 10px;
}
