@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.main {
  display: flex;
  min-height: 100vh;
}

.content-part {
  flex-basis: 70%;
  background-color: #3b14f3;
}

.image-part {
  flex-basis: 30%;
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 50px 100px 0px;
  font-family: "Major Mono Display", monospace;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.logo {
  color: #3b1ec2;
  background-color: white;
  font-size: 30px;
  padding: 15px 30px;
  transform: skewX(-30deg);
}

.logo span {
  display: inline-block;
  transform: skewX(30deg);
}

.auth {
  color: #3a5651;
  background-color: #89e316;
  font-size: 18px;
  padding: 15px 30px;
}

.logo:hover,
.auth:hover {
  cursor: pointer;
}

.header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header nav ul li + li {
  margin-left: 30px;
}

.logo-dot {
  animation: flicker 2s infinite;
}

@keyframes flicker {
  from {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}
